body {
    background-image: url(map.png);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
img {
    max-width: 100%;
}

.menu-wrapper {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.menu {
    width: 30%;
    padding: 20px;
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100vh;
    overflow-y: scroll;
    border: 5px solid black;
    position: fixed;
    top: 0;
    left: -30%;
    transition: 1s;

}
.menu-card {
background: lightgrey;
width: 48%;
border-radius: 10px;
padding: 10px;
display: flex;
gap: 15px;
/* border: 5px solid black; */
}

.block {
    background: red;
}

.modal {
    position: fixed;
    right: -1000px;
    top: 50px;
    background: white;
    border-radius: 7px;
    padding: 7px;
    transition: 2s;

}

.money {
    position: fixed;
    width: 200px;
    height: 80px;
    right: 50px;
    bottom: 50px;
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 5px solid black;
}

.buy_btn {
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

.options {
    font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background: white;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: absolute;
    border-radius: 30px;
}

.options_bar {
    width: 300px;
    height: 100px;
    background: white;
    border: 5px solid black;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 50px;
    display: none;
    position: absolute;
}

.options_btn {
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
}

.food_btn {
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
}

.close_btn {
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
    .active {
        left: 0;
    }


    .activemodal {
        display: flex;
    }

    .car {
      width: 300px;
    }

.menu-card__body {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.menu-card__info {

}
.menu-card__texts {

}
.timer {

}
.buy_btn {
    background: linear-gradient(45deg, orange, pink);
    border-radius: 7px;
    padding: 10px 25px;
    font-size: 20px;    
    cursor: pointer;
    box-shadow: 0 0 4px orange;
}
.buy_btn:hover {
    box-shadow: 0 0 7px orange;
}


    /* <div class="menu-card ${class_}">

        <img src="img/menu/${myMenu[i].photo}" alt="" class="menu-card__image">
        <div class="menu-card__body">
          <div class="menu-card__info">
            <div  class="menu-card__texts">
              <h2 class="menu-card__title">${myMenu[i].title}</h2>
              <h2 class="menu-card__block">Buy ${myMenu[i].block} More Items To Unblock!</h2>
              <h2 class="menu-card__price">${myMenu[i].price}$</h2>
            </div>
            <div class="timer">
              <h2 class="menu-card__time" title="Seconds Cook Time">${myMenu[i].speed} </h2>
              <img src="img/clock.png" alt="">
            </div>
          </div>
          <button data-id="${myMenu[i].id}" class="buy_btn">Buy This</button>
          </div>
        </div> */